node_modules/
.env
yarn-error.log
build/
**/*.d.ts
**/*.js
**/*.js.map
.vscode/
.idea/
documentation
.DS_Store
!/packages/machinomy/migrations/**/*
dist
lerna-debug.log
packages/contracts/coverage.json
packages/contracts/coverage
packages/machinomy/coverage
.nyc_output
