node_modules/
.env
yarn-error.log
**/*.d.ts
**/*.js
**/*.js.map
.vscode/
.idea/
documentation
.DS_Store
dist
lerna-debug.log
packages/contracts/coverage.json
packages/contracts/coverage
packages/contracts/coverageEnv
packages/machinomy/coverage
.nyc_output
